.article-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    min-height: 140vh;
    padding-bottom: 8rem;
    backdrop-filter: blur(5px);
    border-left: 8px solid hsl(240, 2%, 52%);
    border-right: 8px solid hsl(240, 2%, 52%);
}
.back-btn{
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 29%);
    padding: 15px;
    border-radius: 15px;
    border: 5px solid hsl(0, 1%, 14%);
    text-align: center;
    font-size: 2rem;
}
.back-btn:hover{
    filter: brightness(1.1);
}
.title{
    font-size: 2.7rem;
    margin-top: 3rem;
    color: white;
    text-decoration: underline;
    background-color: hsl(0, 0%, 29%);
    border: 6px solid hsl(0, 1%, 14%);
    padding: 1rem 2rem;
    border-radius: 15px;
    text-align: center;
}
.date{
    background-color: hsl(0, 1%, 65%);
    padding: 5px;
    border-radius: 10px;
    margin-left: 40%;
    margin-bottom: 3rem;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}
.content a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
    background: hsl(0, 1%, 14%);
    padding: 0.5rem;
    border-radius: 15px;
    border: 3px solid hsl(0, 1%, 7%);
}
.content a[href$=".pdf"]::before{
    content: "\1F5CE";
    color: white;
    margin-right: 0.5rem;
}
.content img{
    max-width: 50vw;
    height: auto;
    border-radius: 15px;
    margin-top: 3rem;
}
.stats-bar{
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}
.like-btn{
    min-width: 6rem;
    height: 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: hsl(0, 73%, 61%);
    cursor: pointer;
    border: 4px solid hsl(0, 61%, 30%);

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.like-btn:disabled{
    cursor: auto;
}
.heart-icon{
    color: white;
    margin-top: 5px;
}
.like-btn:disabled .heart-icon{
    color: hsl(0, 100%, 32%);
}
.like-count{
    color: white;
}
.share-btn {
  min-width: 6rem;
  height: 3rem;
  padding: 0 1.2rem;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: hsl(210, 18%, 67%); 
  border: 4px solid hsl(211, 31%, 27%);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  transition: transform 0.2s ease;
}
.share-btn:hover {
  transform: scale(1.05);
  background-color: hsl(210, 73%, 70%);
}
.share-icon{
    color: hsl(211, 32%, 22%);
}
@media (max-width: 1500px){
    .content img{
        max-width: 50vw;
    }
    .back-btn{
        font-size: 1.5rem;
    }
}
@media (max-width: 1100px){
    .title{
        font-size: 2.5rem;
    }
    .articles{
        width: 70vw;
    }
}
@media (max-width: 850px){
    .title{
        font-size: 2rem;
    }
    .articles{
        width: 100vw;
    }
    .content img{
        max-width: 75vw;
    }
}
@media (max-width: 500px){
    .title{
        font-size: 1.5rem;
    }
}